@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kalameh Bold";
  src: url("https://db.onlinewebfonts.com/t/c56ea8aca8b3b1f84bcb7365c6ae4af0.eot");
  src: url("https://db.onlinewebfonts.com/t/c56ea8aca8b3b1f84bcb7365c6ae4af0.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c56ea8aca8b3b1f84bcb7365c6ae4af0.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/c56ea8aca8b3b1f84bcb7365c6ae4af0.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/c56ea8aca8b3b1f84bcb7365c6ae4af0.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/c56ea8aca8b3b1f84bcb7365c6ae4af0.svg#Kalameh Bold")
      format("svg");
}

@font-face {
  font-family: "Vazir";
  src: url("https://db.onlinewebfonts.com/t/e2b31b59d40719dfa19d27a19e829da8.eot");
  src: url("https://db.onlinewebfonts.com/t/e2b31b59d40719dfa19d27a19e829da8.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e2b31b59d40719dfa19d27a19e829da8.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/e2b31b59d40719dfa19d27a19e829da8.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/e2b31b59d40719dfa19d27a19e829da8.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/e2b31b59d40719dfa19d27a19e829da8.svg#Vazir")
      format("svg");
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #fff;
  font-family: "Kalameh Bold";
  direction: rtl;
}
